<div class="banner">
  <h1>Naima's Lists</h1>
  <br>
  <div class="links">
    <p><%= link_to 'Your Movies', movies_path %></p>
    <p><%= link_to 'Your Lists', lists_path  %></p>
  </div>
</div>

<div class="add-button">
<%= link_to '+ Add A List', lists_new_path %>
</div>

<div class="cards-container">
  <% @lists.each do |list| %>
  <div class="list-card">
    <img><%= link_to image_tag(list.photo, :alt => "list poster"), list_path(list) %>
    <h2 class="center"><%= list.name %></h2>
    <br>
    </div>
  <% end %>
</div>
