<div class="banner">
  <h1>Naima's Film Collection</h1>
  <br>
  <div class="links">
    <p><%= link_to 'Your Movies', movies_path %></p>
    <p><%= link_to 'Your Lists', lists_path  %></p>
  </div>
</div>

<h2>Add A List:</h2>
<div class="form">
<%= form_for(@list) do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, :size => "50" %>
  <br>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_field :description, :size => "50" %>
  <br>
  <br>
  <%= f.label :photo %>
  <br>
  <%= f.text_field :photo, :size => "50" %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
</div>
