<div class="banner">
  <h1>Naima's Film Collection</h1>
  <br>
  <div class="links">
    <p><%= link_to 'Your Movies', movies_path %></p>
    <p><%= link_to 'Your Lists', lists_path  %></p>
  </div>
</div>

<div class="list-details">
<h2><%= @list.name %></h2>
<p><%= @list.description %></p>
</div>

<% @list.bookmarks.each do |bm| %>
<h2><%= bm.movie.title %></h2>
<p><%= bm.movie.description %></p>
<span><%= bm.movie.year %> | </span>
<span><%= bm.movie.director %> | </span>
<span><%= bm.movie.country %> | </span>
<span><%= bm.movie.genre %></span>
<img><%= image_tag(@movie.poster_url, :alt => "movie poster") %>
<p><%= bm.comment %></p>
<% end %>

<%= form_for(@list, @bookmark) do |f| %>
  <%= f.association :movie %>
  <br>
  <%= f.input :comment, :size => "50"%>
  <%= f.submit %>
<% end %>

<div class="delete-view">
<span>
<%= link_to 'Delete List',
list_path(@list),
method: :delete,
data: { confirm: "Are you sure you want to delete the list #{@list.name}?"} %>
</span>
<span><%= link_to 'View All Lists', lists_path %></span>
</div>
