<div class="banner">
  <h1>Naima's Film Collection</h1>
  <br>
  <div class="links">
    <p><%= link_to 'Your Movies', movies_path %></p>
    <p><%= link_to 'Your Lists', lists_path  %></p>
  </div>
</div>

<div class="list-details">
<h2><%= @list.name %></h2>
<p><%= @list.description %></p>
</div>

<div class="delete-view">
<span>
<%= link_to 'Delete List',
list_path(@list),
method: :delete,
data: { confirm: "Are you sure you want to delete the list #{@list.name}?"} %>
</span>
<span><%= link_to 'View All Lists', lists_path %></span>
</div>
