<div class="banner">
  <h1>Naima's Film Collection</h1>
  <br>
  <div class="links">
    <p><%= link_to 'Your Movies', movies_path %></p>
    <p><%= link_to 'Your Lists', lists_path  %></p>
  </div>
</div>

<h2>Edit A Movie:</h2>
<div class="form">
<%= form_for(@movie) do |f| %>
  <%= f.label :title %>
  <br>
  <%= f.text_field :title, :size => "50"%>
  <br>
  <br>
  <%= f.label :year %>
  <br>
  <%= f.text_field :year, :size => "50" %>
  <br>
  <br>
  <%= f.label :country %>
  <br>
  <%= f.text_field :country, :size => "50" %>
  <br>
  <br>
  <%= f.label :director %>
  <br>
  <%= f.text_field :director, :size => "50" %>
  <br>
  <br>
  <%= f.label :genre %>
  <br>
  <%= f.text_field :genre, :size => "50" %>
  <br>
  <br>
  <%= f.label :poster_url %>
  <br>
  <%= f.text_field :poster_url, :size => "50" %>
  <br>
  <br>
  <%= f.label :synopsis %>
  <br>
  <%= f.text_area :synopsis, :size => "50" %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
</div>
